<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <!-- Подключаем CSS-стили для оформления форм -->
    <style>
        .form-style {
            display: block;
            margin: 20px auto;
            padding: 10px;
            border: 1px solid #ccc;
            width: 400px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="date"] {
            display: block;
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        input.button-style[type="submit"] {
            background-color: #4CAF50;
            border: none;
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        input.button-style[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<header th:insert="blocks/adminHeader::header_admin"></header>


<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Онлайн-библиотека</h1>

                <!-- Форма для заполнения объекта жанра -->
                <form class="form-style" action="/addGenre" method="post">
                    <h2>Добавить жанр</h2>
                    <label for="name">Название жанра:</label>
                    <input type="text" id="name" name="name" required>
                    <input class="button-style" type="submit" value="Добавить жанр">
                </form>

                <!-- Форма для заполнения объекта автора -->
                <form class="form-style" action="/addAuthor" method="post">
                    <h2>Добавить автора</h2>
                    <label for="fio">ФИО автора:</label>
                    <input type="text" id="fio" name="fio" required>
                    <label for="birthday">Дата рождения:</label>
                    <input type="date" id="birthday" name="birthday" placeholder="yyyy-mm-dd" required>
                    <!--    <input type="text" id="birthday" name="birthday" pattern="\d{4}-\d{2}-\d{2}" placeholder="гггг-мм-дд" required>-->
                    <input class="button-style" type="submit" value="Добавить автора">
                </form>

                <form class="form-style" action="/addPublisher" method="post">
                    <h2>Добавить издательство</h2>
                    <label for="nameP">Название издательства:</label>
                    <input type="text" id="nameP" name="nameP" required>
                    <input class="button-style" type="submit" value="Добавить жанр">
                </form>

            </div>
        </div>
    </section>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="container mt-5" align="center">
                    <h3>Список авторов</h3>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ФИО</th>
                            <th scope="col">Дата рождения</th>

                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="el : ${authors}">
                            <tr>
                                <td><p th:text="${el.fio}"/></td>
                                <td><p th:text="${el.birthday}"/></td>
                                <td>
                                    <form th:action="'/deleteAuthor/'+ ${el.id}" method="post">
                                        <button type="submit" class="btn btn-outline-info">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>

                </div>

                <div class="container mt-5" align="center">
                    <h3>Список жанров</h3>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Дата рождения</th>

                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="genre : ${genres}">
                            <tr>
                                <td><p th:text="${genre.id}"/></td>
                                <td><p th:text="${genre.name}"/></td>
                                <td>
                                    <form th:action="'/deleteGenre/'+ ${genre.id}" method="post">
                                        <button type="submit" class="btn btn-outline-info">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>

                </div>


                <div class="container mt-5" align="center">
                    <h3>Список издательст</h3>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Название</th>

                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="publisher : ${publishers}">
                            <tr>
                                <td><p th:text="${publisher.id}"/></td>
                                <td><p th:text="${publisher.nameP}"/></td>
                                <td>
                                    <form th:action="'/deletePublisher/'+ ${publisher.id}" method="post">
                                        <button type="submit" class="btn btn-outline-info">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
        </div>


    </section>
</main>

<footer th:insert="blocks/footer::footer"></footer>

</body>
</html>
