
<div th:fragment="header_admin">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admins">Главная</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/addBook">Добавление книги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addAuthorAndGenre"> Добавление автора/жанра</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booksCatalog"> Каталог книг</a>
          </li>

<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/addGenre"> жанра</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/userManagement">Управление пользователями</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/requestManagement">Управление запросами</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Статистика</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/search" method="get">
          <input class="form-control me-2"  id="search" name="search" type="search" placeholder="Search" aria-label="Search">
          <a href="/search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </a>

        </form>
      </div>
    </div>
  </nav>
</div>